/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

    a:link, a:visited { color:#07f; }
    a:hover, a:focus { color:#f07; }
    a:active { color:#7f0; }

    
/* ---------------------------------------------------------
   Sandbox Canvas Styles
   @author joneubank
   ---------------------------------------------------------*/
    html {
      height: 100%;
    }

    body {
      height:100%;
      background: #000;
    }

    .hidden {
      display: none;
    }

    .fixed-fullscreen {
      height: 100%;
      width: 100%;
      position: fixed;
      top:0px;
      left:0px;
    }

    canvas {
      display: block;
      background : #000;
    }

    #hud {
      left: 0px;
      top: 0px;

      width:100%;
      height:100%;

      color: #000;
    }

    #hud div {
      background: #fff;
      position: absolute;

      margin: 2em;
      padding: 1em;

      max-height: 40%;
      max-width: 40%;

      overflow-y: auto;
      overflow-x: auto;

      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

      /* IE 5-7 */
      filter: alpha(opacity=80);

      /* Netscape */
      -moz-opacity: 0.8;

      /* Safari 1.x */
      -khtml-opacity: 0.8;

      /* Good browsers */
      opacity: 0.8;
    }

    #hud .nomax{
      max-width: none;
      max-height:;
    }

    #hud .top-left{
      top: 0px;
      left: 0px;
    }
    
    #hud .top-right{
      top: 0px;
      right: 0px;
    }

    #hud .bottom-left{
      top: 0px;
      left: 0px;
    }

    #hud .bottom-right{
      bottom: 0px;
      right: 0px;
    }

    #hud form input {
      margin-top:0.5em;
    }

    #hud form label {
      font-weight: bold;
    }

    .hud-label {
      font-weight: bold;
    }
    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }

    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { 
      border:1px solid #000; 
    }
}